<ion-view view-title="Welcome">
  <ion-content>
    <div class="headerBellowNavbar">Welcome to the Bookmark app</div>
    <!--<div class="myPhoto"></div>-->
    <div class="list card">

      <div class="item item-avatar">
        <img src="/img/kiritoface.png">
        <h2>{{user.name}}</h2>
        <p>November 05, 1955</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="/img/kiritoface.png">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting
          of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
